.about-section{
    background-size: 100%;
    background: url(../assets/alternative-906138_1920.jpg)  no-repeat left;
    background-color: #fdfdfd;
    object-fit: cover;
    /* aspect-ratio: 16/6;     */
    overflow: hidden;
    /* margin-bottom: 3rem; */
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    padding-left: 150px;
    padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 150px;
}

.inner-container h1{
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    /* color: #545454; */
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
}
/* 
.skills{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
} */

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}