.main-container{
    margin-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.container-banner{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.left-content{
    height: 45vh;
    border-radius: 10px;
    object-fit: cover;
    background: url("../assets/avocados-img1.jpg");
    width: 80vh;
}

.right-content{
    padding-left: 2rem;
    height: 50vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width:fit-content;
}

.cont-bottom-right{
    height: 45vh;
    border-radius: 10px;
    background: url("../assets/avocado-img2.jpg");
    object-fit: cover;
    width: 80vh;
}

.cont-bottom-left{
    height: 60vh;
    display: flex;
    padding-right: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width:fit-content;
}

.txt-title{
    font-weight: 900;
    font-size: 2rem;
    font-style: normal;
}

.txt-content{
    text-align: justify;
    text-overflow: ellipsis;
    font-style: normal;
    margin-top: 1rem;
}

.sub-title{
    text-align: start;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1rem;

}