.banner-main-container{
    margin-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2 ,1fr);
}

.banner-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-right{
    display: inline-block;
    padding: 100px ;
}

.banner-content{
    display: block;
    
}

.banner-title{
    font-size: 30px;
    font-weight: 400;
    /* font-family: 'Quicksand', sans-serif; */
}
 
.banner-p1{
    font-size: 17px;
    font-weight: 400;
}
.banner-p2, .sub-content{
    font-size: 15px;
    font-weight: 500;
}
.banner-sub{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 22px;
    font-weight: 600;
    color: var(--green700);
}


/* xs */
@media screen and (max-width: 475px){
    .banner-main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background: gold; */
        padding: 0px;

        .banner-left{
            width: 100%;
            background-size: cover;
        }

        .banner-right{
            /* padding: 30px 20px 30px 20px ; */
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;

            .banner-title{
                font-size: 28px;
                font-weight: 500;
            }

            .banner-p1{
                font-size: 22px;
                font-weight: 400;
            }

            .banner-p2{
                font-size: 18px;
                font-weight: 400;
            }

            .Btn{
                font-size: 17px;
            }
        }

    }

  
}      

  
   /* sm */
  @media screen and (max-width: 640px){
     
  }
  
  /* md */
  @media screen and (max-width: 768px){
     
  }
  
  /* lg */
  @media screen and (max-width: 1024px){
     
  }
  
  /* xl */
  @media screen and (max-width: 1280px){
     
  }
  
  /* 2xl */
  @media screen and (max-width: 1536px){
     
  }
    
  
