.background-container{
    height: 90vh;
    background-image: url(../assets/bg.jpg);
    background-position: center;
    border-radius: 10px;
    margin-top: 0;
}

.left-side{
    justify-content: center;
    display: flex;
    position: relative;
    padding: 100px 100px;
   flex-direction: column;
   align-items: center;
   top: 20%;
    justify-content: center;
}

.h-top{
    font-weight: 800;
    font-size: 4rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.h-mid{
    font-weight: 600;
    font-size: 2rem;
    padding: 0px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-below{
    font-weight: 500;
    font-size: 2rem;
    padding: 0px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn{
    width: fit-content;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

