.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: sticky;
    opacity: 1;
    padding-left: 4rem;
    padding-right: 4rem;
    transform: none;
    top: 0;
    transition: all 300ms ease;
}

.nav-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
    width: 20%;
    /* margin-left: 2rem; */
}

.nav-right {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    /* margin-right: 2rem; */
}

.n-list {
    flex: 10;
}

.n-list > ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.n-list > ul > li:hover {
    cursor: pointer;
    color: var(--green400);
}

.dropdown-menu {
    position: absolute;
    border-radius: 8px;
    width: 100%;
    padding: 0;
    display: none; 
}

.listItem:hover > .dropdown-menu {
    display: block;
}

.link{
    text-decoration: none;
    color: var(--black);
}

.link:hover{
    color: var(--green400);
}

.dropdown-menu li {
    background: var(--white);
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    color: var(--black);
}

.dropdown-menu li:hover {
    background-color: var(--green400);
    cursor: pointer;
    font-weight: 800; 
    color: var(--white);
}


