.n-wrapper {
    /* height: 10vh; */
    /* width: 100%; */
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    align-items: center;

    opacity: 1;
    padding-left: 4rem;
    padding-right: 4rem;
    z-index: 1000;
    transform: none;
    top: 0;
    transition: all 300ms ease;
}

.nav-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
    width: 20%;
    /* background: gold; */
    /* margin-left: 2rem; */
}

.nav-right {
    /* flex: 1; */
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    /* margin-right: 2rem; */
}

.n-list {
    flex: 10;
}

.n-list > ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.n-list > ul > li:hover {
    cursor: pointer;
    color: var(--green400);
}

.dropdown-menu {
    position: absolute;
    border-radius: 8px;
    width: 100%;
    padding: 0;
    z-index: 1000;
    display: none; 
    text-decoration: none;
    list-style: none;
}

.listItem:hover > .dropdown-menu {
    display: block;
}

.link{
    text-decoration: none;
    color: var(--black);
}

.link:hover{
    color: var(--green400);
}

.dropdown-menu li {
    background: var(--white);
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    color: var(--black);
}

.dropdown-menu li:hover {
    background-color: var(--green400);
    cursor: pointer;
    font-weight: 800; 
    color: var(--white);
}

.hamburger {
    visibility: hidden;
}

@media screen and (max-width: 1024px) {
    .n-wrapper{
        /* position: fixed; */
        padding: 0;
        height: 10vh;
        align-items: center;
        /* padding-left: 10px; */
        padding-right: 10px;
        z-index: 1000;
    }

    .nav-left >img{
        width: 8rem;
        margin: 0;
    }

    .hamburger {
        display: block;
        visibility: visible;
    }

    .nav-right{
        position: fixed;
        left: -100%;
        top: 73px;
        flex-direction: column;
        justify-content: center;
        background-color: #F0F0F0;
        width: 100%;
        height: 60vh;
        z-index: 999;
        text-align: center;
        transition: .3s;

        .nav-list{
            padding: 0;
            /* padding: .5rem; */
            padding-top: 3rem;
            display: flex;
            flex-direction: column;            
            justify-content: space-evenly;
            align-items: center;           
            width: 100%;
            margin: 0;
        }

    }

    .nav-right.active {
        left: 0;
    }

    .Btn{
        margin-bottom: 4rem;
        position: relative;
    }

}