.main-body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.body-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
}

.content-left{      
    object-fit: contain;
    background: no-repeat;
    width: 450px;
    padding-left: 5rem;
    height: auto;
    aspect-ratio: 1/1;
}

.content-right-mid{
    object-fit: contain;
    background: no-repeat;
    width: 450px;
    padding-left: 5rem;
    height: auto;
    aspect-ratio: 1/1;
}

.content-left >img{
    max-width: 100%;
}

.content-right-mid >img{
    max-width: 100%;
}
    
.content-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.content-left-mid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}

.container-heading{
    font-size: 2rem;
    font-weight: 600;
    color: var(--green700);
}
.hass-title, .fuerte-title{
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
}

.hass-content, .fuerte-container{
    padding-top: 1rem;
    font-weight: 500;
  font-size: 15px;
}

.description-heading{
    margin-top: 1rem;
    text-align: start;
    padding-left: 4rem;
    padding-right: 4rem;
    font-weight: 500;
  font-size: 16px;
}

.swiperjs-container{
    /* background: gold; */
    height: auto;
    width: 100%;
    margin-bottom: 3rem;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

/* xs */
@media screen and (max-width: 475px){
    .description-heading{
        padding: 0;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;

        .content-left , .content-right-mid{
            width: 250px;
            height: auto;
        }

        .content-left >img{
            max-width: 100%;
        }
        
        .content-right-mid >img{
            max-width: 100%;
        }

        .content-right, .content-left-mid{
            padding: 0;
            display: flex;

            .hass-title, .fuerte-title{
                font-size: 22px;
                font-weight: 500;
            }

            .hass-content, .fuerte-container{
                font-size: 15px;
                text-align: justify;
            }
        }

    }
  }
  
    /* sm */
  @media screen and (476px <= width <= 640px){
    .description-heading{
        padding: 0;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;

        .content-left , .content-right-mid{
            width: 250px;
            height: auto;
        }

        .content-left >img{
            max-width: 100%;
        }
        
        .content-right-mid >img{
            max-width: 100%;
        }

        .content-right, .content-left-mid{
            padding: 0;
            display: flex;

            .hass-title, .fuerte-title{
                font-size: 22px;
                font-weight: 500;
            }

            .hass-content, .fuerte-container{
                font-size: 15px;
                text-align: justify;
            }
        }

    }
  }
  
  /* md */
  @media screen and (641px <= width <= 768px){
    .description-heading{
        padding: 0;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;

        .content-left , .content-right-mid{
            width: 250px;
            height: auto;
        }

        .content-left >img{
            max-width: 100%;
        }
        
        .content-right-mid >img{
            max-width: 100%;
        }

        .content-right, .content-left-mid{
            padding: 0;
            display: flex;

            .hass-title, .fuerte-title{
                font-size: 22px;
                font-weight: 500;
            }

            .hass-content, .fuerte-container{
                font-size: 15px;
                text-align: justify;
            }
        }

    }
  }
  
  /* lg */
  @media screen and (769px <= width <= 1024px){
    .description-heading{
        padding: 0;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;

        .content-left , .content-right-mid{
            width: 250px;
            height: auto;
        }

        .content-left >img{
            max-width: 100%;
        }
        
        .content-right-mid >img{
            max-width: 100%;
        }

        .content-right, .content-left-mid{
            padding: 0;
            display: flex;

            .hass-title, .fuerte-title{
                font-size: 22px;
                font-weight: 500;
            }

            .hass-content, .fuerte-container{
                font-size: 15px;
                text-align: justify;
            }
        }

    }
  }
  
  /* xl */
  @media screen and (1025px <= width <= 1280px){
    .description-heading{
        padding: 0;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .body-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;

        .content-left , .content-right-mid{
            width: 250px;
            height: auto;
        }

        .content-left >img{
            max-width: 100%;
        }
        
        .content-right-mid >img{
            max-width: 100%;
        }

        .content-right, .content-left-mid{
            padding: 0;
            display: flex;

            .hass-title, .fuerte-title{
                font-size: 22px;
                font-weight: 500;
            }

            .hass-content, .fuerte-container{
                font-size: 15px;
                text-align: justify;
            }
        }

    }
  }
  
  
 