.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-container-body{
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 7rem;
}

.slider-title{
  font-size: 2rem;
    font-weight: 600;
    color: var(--green700);
    /* background: gold; */
    display: flex;
    text-align: center;
    justify-content: center;
}

.slider-description{
  display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 500;
}

.slider-btn{
 display: flex;
 justify-content: center;
 margin-top: 1rem;
}

.icon-slider{
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
 /* xs */
 @media screen and (max-width: 475px){
    
 }

 /* sm */
@media screen and (max-width: 640px){
   
}

/* md */
@media screen and (max-width: 768px){
   
}

/* lg */
@media screen and (max-width: 1024px){
   
}

/* xl */
@media screen and (max-width: 1280px){
   
}

/* 2xl */
@media screen and (max-width: 1536px){
   
}
  
